#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.123);
  border-radius: 2rem;
  padding: 20px;
}

button {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.madeBy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c69b6da1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.madeBy p {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.madeBy img {
  width: 1.5rem;
  height: 1.5rem;
}
